* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

.App {
      width: 100%;
      height: 100vh;
      background-color: lightgrey;
}

.container {
      display: flex;
      justify-content: space-between;
}

.left{
      padding: 40px;
      flex: 1;
      justify-content: center;
      align-items: flex-start;
      display: flex;    
}

.left__model {
      width: 300px;
      height: 420px;
      background-color: white;
      position: relative;
}

.left__model__desc {
      padding: 4px 10px;
      display: flex;
      flex-direction: column;
}

.left__model__desc span {
      font-size: 16px;
}

.left__model__desc span:first-child {
      color: red;
      margin-bottom: 8px;
}

.left__model img {
      height:  360px;
      width: 100%;
      object-fit: cover;
      position: relative;
}

.right {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
}

.right__item {
      width: 170px;
      height: 80px;
      border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
}

.right__item img {
      width: 90%;
      object-fit: cover;
}

.left__model__glasses {
      position: absolute;
      top: 80px;
      left: 62px;
}

.left__model__glasses img {
      width: 180px;
      height: 100%;
      object-fit: cover;
}