.products {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
            font-size: 3rem;
      }
}

.products__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 0px;
      
            margin-top: 20px;
}
